
/* messages */
#messageList {
    color: red;
    background-color: aquamarine;
    border: 10px;
   
    overflow:scroll;
};

#newMessageDiv {
    color: ORANGE;
    background-color: brown;
    border: 10px;
    
    

}

/* news articles */
#articleContainer {
    border: 1px solid blue;
}

#domContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#leftFrame {
    width: 30%;
}

#rightFrame {
    width: 70%;
}

.friendArticle {
    font-style: italic;
    background-color: cornsilk;
}

/* Events */
.singleEvent:first-child {
    background-color: aqua;
    font-weight: bold;
    font-size: 120%;
}