#messageContainer {
    color: Blue;
    background-color: aquamarine;
    border: 10px;
    display: flex;
    flex-direction: column;
};

#messageList{
    color: red;
    background-color: green;
    border: 10px;
};

#newMessageDiv {
    color: ORANGE;
    background-color: brown;
    border: 10px;
}
/* this is for testing the article container */
#articleContainer {
    border: 1px solid blue;
}