#welcomeDiv {
    background-image: url("../../images/1024px-Walnut.svg.png");
    text-align: center;
 }
 header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
 }
 #navBarImage {
    height: 50px;
    width: 50px;
 }


 #taskList div {
    background-color: white;
 }

 .singleTask {
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
 }
 body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 
 #welcomeContainer {
    background-image: url("../../images/1024px-Walnut.svg.png");
    background-repeat: no-repeat;
    background-position: 350px center;
    background-size: 400px 400px;
    z-index: 6;
    height: 500px;
 }

 
 #friendContainer {
    min-height: 20px;
    margin-bottom: 30px;
 }
 /* messages */
 #messageContainer {
    display: flex;
    flex-direction: column;
    max-height: 550;
 }
 #messageList {
    max-height: 500px;
    overflow-y: scroll;
 }
 #newMessageDiv {
    max-height: 20px;
 }
 .singleMessage {
     margin-top: 20px;
     margin-bottom: 20px;
 }
 /* news articles */
 #domContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: saddlebrown;
 }
 #leftFrame {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20px;
 }
 #rightFrame {
    width: 70%;
    padding: 20px;
 }
 .selfArticle {
    background-color: white;
 }
 .friendArticle {
    font-style: italic;
    background-color: cornsilk;
 }
 /* Events */
 .singleEvent:first-child {
    background-color: aqua;
    font-weight: bold;
    font-size: 120%;
    border: black 1px solid;
 }
 .friendSingleEvent {
    background-color: cornsilk;
    font-style: italic;
    border: black solid 1px;
 }